PORT=
MONGO_URI=
GEMINI_API_KEY=
GEMINI_MODEL=

ENABLE_EMAILS=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

JWT_SECRET=
JWT_EXPIRES_IN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=

UPLOADTHING_TOKEN=